## IntelliJ IDEA
# General
.idea/
*.iws
*.iml
*.ipr

## NeoVIM
.classpath
.project
.settings/

## Linux
# Temporary files
*~

## macOS
# Files created by macOS Finder
.DS_Store

## Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
